# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Spin Theme Roulette!': 'theme-roulette:spin'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Theme Roulette'
      'submenu': [
        { 'label': 'Spin!', 'command': 'theme-roulette:spin' }
      ]
    ]
  }
]
